/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! Dale Emrose specific styles for form */
* {
  margin: 0;
  padding: 0;
  line-height: 1; }

body {
  font: 100%/1 "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  transform-origin: center center; }

h1 {
  letter-spacing: -1px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  background: url("../img/logo.png") no-repeat left top;
  background: url("../img/logo.svg") no-repeat left top;
  background-size: 100%;
  text-indent: -10000px;
  display: block;
  margin-bottom: 0.5em; }

h1 span.redtext {
  letter-spacing: -4px;
  font-weight: bold; }

h2 {
  line-height: 2em; }

p {
  margin-bottom: 1.5em; }

input, textarea {
  margin: 0.75em 0 1.5em; }

label {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  font-size: 12px;
  color: #666;
  line-height: 1.2em; }

#contact-form {
  max-width: 320px;
  margin: 2em auto; }
  @media screen and (max-width: 320px) {
    #contact-form {
      max-width: 280px; } }

#yearcheck, #companycheck {
  display: none; }

#generalerror {
  margin-bottom: 1em; }

.redtext, .smalltext, .error {
  color: #e40d1c;
  text-transform: none;
  font-weight: normal; }

.success {
  font-size: 12px;
  color: #00c800; }

.smalltext, .error {
  font-size: 12px; }

.btn {
  display: inline-block;
  margin: 0 0 1em 0;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 0;
  box-sizing: border-box;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  background-color: #e40d1c;
  color: white;
  text-transform: uppercase;
  opacity: .8; }
  .btn:hover, .btn:focus, .btn.focus {
    text-decoration: none;
    opacity: 1; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    cursor: disabled; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }
