@import "normalize.scss";

/*! Dale Emrose specific styles for form */

//globals
// --------------------------------------------------

$font-stack: "Helvetica Neue", Helvetica, sans-serif;
$primary-color: #333;
$redcolor: rgb(228, 13, 28);
$greencolor: rgb(0,200,0);


//mixins
// --------------------------------------------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



//defaults
// --------------------------------------------------

* {
	margin: 0;
	padding: 0;
	line-height: 1;
}

body {
	font: 100%/1 $font-stack;
	color: $primary-color;
	transform-origin: center center;
}


//custom styles
// --------------------------------------------------

h1 {
	letter-spacing: -1px;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	background: url('../img/logo.png') no-repeat left top;
	background: url('../img/logo.svg') no-repeat left top;
	background-size: 100%;
	text-indent: -10000px;
	display: block;
	margin-bottom: 0.5em;
}

h1 span.redtext {
	letter-spacing: -4px;
	font-weight: bold;
}

h2 {
	line-height: 2em;
}

p {
	margin-bottom: 1.5em;
}

input, textarea {
	margin: 0.75em 0 1.5em;
}

label {
	width: 100%;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 7px;
	box-sizing: border-box;
	border: 1px solid #cacaca;
	font-size: 12px;
	color: #666;
	line-height: 1.2em;
}


//ids
// --------------------------------------------------

#contact-form {
	max-width: 320px;
	margin: 2em auto;
	@media screen and (max-width: 320px) {
	    max-width: 280px;
	}
}

#yearcheck, #companycheck {
	display: none;
}

#generalerror {
	margin-bottom: 1em;
}
 

//classes
// --------------------------------------------------

.redtext, .smalltext, .error {
	color: $redcolor;
	text-transform: none;
	font-weight: normal;
}

.success {
	font-size: 12px;
	color: $greencolor;
}

.smalltext, .error {
	font-size: 12px;
}

// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin: 0 0 1em 0;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 0;
  box-sizing: border-box;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  background-color: $redcolor;
  color: white;
  text-transform: uppercase;
  opacity: .8;

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    opacity: 1;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: disabled;
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Block button

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}